<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- typeAliases -->
	<typeAliases>
		<typeAlias type="vo.User" alias="User" />

	</typeAliases>

	<!-- mapper파일들의 경로 설정 -->
	<mappers>
		<mapper resource="mapper/users.xml" />
	</mappers>

</configuration>



