@charset "UTF-8";

body {
    font-family: 'Koverwatch', sans-serif;
}

#header, #footer {
    width: 100%;
    height: 80px;
    background: #673AB7;
    text-align: center;
    line-height: 80px;
}

#content {
    min-height: 500px;
    width: 1000px;
    border-left: 1px solid #673AB7;
    border-right: 1px solid #673AB7;
    margin: auto;
}

#content h2 {
    color: #673AB7;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

/*block level*/
#header h1 {
    font-size: 60px;
    font-weight: bold;
}

#header a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

#header a:hover {
    text-shadow: 0 0 10px #fff;
}

#footer {
    color: #fff;
    font-size: 20px;
}

.fab, .fa {
    font-weight: normal;
}

.btn {
    font: 28px 'Koverwatch', sans-serif;
    background: #9575CD;
    color: #fff;
    border: none;
    padding: 12px 10px;
    text-decoration: none;
    display: inline-block;
    transition: .1s ease-in-out;      
    cursor: url('../img/index-finger-cursor.png') 20 0, auto;
}

.btn:hover {
    background: #673AB7;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    
}
 
.box_btn {
    text-align: right;
}
#header h1 a::after {
    content: "\f3d2  방갑 \f3d2";
    font-family: "Font Awesome 5 Brands";
    height: 48px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    padding-left: 20px;
    text-align: left;
    line-height:48px;
    color: #fff;
    font-size: 20px;
    transform-origin: 0% 20px;
}

#header:hover h1 a::after{
	animation: animationFrames ease-out 0.5s;    
    animation-fill-mode: forwards;
}
@keyframes animationFrames{
    0% {
        transform:  rotate(0deg) ;
    }
    30% {
        transform:  rotate(20deg) ;
    }
    50% {
        transform:  rotate(10deg) ;
    }
    70% {
        transform:  rotate(15deg) ;
    }
    80% {
        transform:  rotate(20deg) ;
    }
    90% {
        transform:  rotate(15deg) ;
    }
    100% {
        transform:  rotate(20deg) ;
    }
}
#header {
	position: relative;
}
#loginBox, #logoutBox {
   	position: absolute;
   	right: 10px;
   	bottom: 10px;
   	line-height: 1em;
}
#logoutBox strong {
	font-size: 24px;
	color: #fff;
}

#logoutBox a {
	font-size: 20px;
	text-decoration: none;
}
#loginBox input {
	width:120px;
}