<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>180212</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- Servlet과 url(주소)를 맵핑 -->

	<!-- Servlet에 대한 설정 -->
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>servlet.HelloServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>servlet.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>life</servlet-name>
		<servlet-class>servlet.LifeCycleServlet</servlet-class>
	</servlet>

	<!-- 위의 servlet과 주소 맵핑 -->
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello.jbm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test.jbm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>life</servlet-name>
		<url-pattern>/life.jbm</url-pattern>
	</servlet-mapping>
</web-app>